/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: Arial, Helvetica, sans-serif;
     font-size: 200%;
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.my-mat-form-field {
    width: 400px;
    height: 200px;
    border: 1px solid #555;
    overflow: auto;
  }
  
.mat-select-panel {
    background: #555;
    width: 100px;
}

.mat-option-text {
    color: white;
}

.input-field {
    border: 1px solid black;
}