<h2>Fryzjerzy</h2>
<ul>
 <li *ngFor="let barber of barbers">
 &nbsp;<span>{{barber.name}}</span>&nbsp;
    <button id="bookButton" (click)='onChooseBarber(barber.id)'>Wybierz</button>
 </li>
</ul>

 <br />
 <h2>Wizyty</h2>
 <table class="visitTable">
   <tr>
      <th class="vT">Data</th>
      <th class="vT">Godzina</th>
      <th class="vT">Klient</th>
      <th class="vT">Fryzjer</th>
      <th class="vT">Usługa</th>
    </tr>
    <tr *ngFor="let visit of visits">
      <td class="vT">{{visit.date}}</td>
      <td class="vT">{{visit.hour}}</td>
      <td class="vT">{{visit.client.name}}</td>
      <td class="vT">{{visit.barber.name}}</td>
      <td class="vT">{{visit.barberingService.name}}</td>
    </tr>
 </table>
